<footer>
   <a href="https://twitter.com/designsyshouse" class="card">
    <span class="card-emoji">
      {% include "ds-house.svg" %}
    </span>
    <div>
      <p class="card-desc">Brought to you by <span class="underline">designsyshouse</span></p>
    </div>
  </a>
</footer>