---
layout: layout.njk
title: ultrapink - Hot takes in design systems
pagination:
  data: collections.posts
  size: 4
  alias: posts
  reverse: true
---


<ul>
  {%- for post in posts %}
  <li>
    <a href="{{ post.url }}">
      <span>{{ post.date.toISOString() }}</span>
      <h2>{{ post.data.title }}</h2>
      {% if post.data.desc %}
      <p>{{ post.data.desc }}</p>
      {% endif %}
    </a>
  </li>
  {%- endfor %}
</ul>

{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous Page</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next Page</a>
{% endif %}