*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #111;
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem;
}

.underline {
  text-decoration: underline;
  text-decoration-color: hotpink;
  text-underline-offset: .1em;
}

header h1, header p {
  margin: 0;
}

header {
  margin: 2rem 0;
}

header p {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .8em;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-card {
  display: inline-flex;
  text-decoration: none;
  gap: 2rem;
  color: inherit;
}

.posts .link-card {
  min-height: 200px;
}

.link-card-emoji {
  font-size: min(3rem, 10vw);
  display: flex;
  flex-direction: column;
  filter: contrast(0) sepia(1) saturate(10) hue-rotate(-60deg);
}

.posts .link-card-emoji {
  margin-top: 1.5rem;
}

.posts .link-card-emoji:after {
  content: '';
  border-right: 2px dotted hotpink;
  display: block;
  flex: 1;
  width: calc(50% - 1px);
}

.link-card-date {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .8em;
  color: hotpink;
}

.link-card-title,
.link-card-desc {
  margin: 0;
}

.link-card-title {
  font-size: min(3rem, 10vw);
  line-height: 1.2;
  margin-left: -.05em;
  margin-bottom: .5rem;
  text-decoration: underline;
  text-decoration-color: hotpink;
  text-underline-offset: .1em;
}

.posts .link-card-title {
  text-transform: uppercase;
}

footer {
  margin-top: auto;
  padding: 1rem 0;
}

.ds-house-logo {
  width: 1em;
  height: 1em;
}